<link rel="stylesheet" href="style.css">



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Corpo da página */
body {
  background-color: #f4f4f4;
  padding: 20px;
}

/* Cabeçalho */
header {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

/* Título principal */
header h1 {
  color: #333;
  margin-bottom: 8px;
}

/* Parágrafo */
header p {
  color: #666;
  font-size: 16px;
}
